h5 {
    font-size: 'Comic Sans MS';
    color: #449755;
    text-align: center;
    font-size: 50px;
    margin-top: 4px;   
    margin-left: center;  
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.carnival-strands {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: left;
    justify-items: left;
}
.food-stall {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: left;
    justify-items: left;
}
.rollercoaster {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: left;
    justify-items: left;
}